@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");

::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


#page-1 {
  height: 100vh;
  width: 100vw;
  background: url("Images/background.jpg") center no-repeat;
  background-size: cover;
  color: white;
  &::before {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: rgba(0, 0, 0, 0.349);
    z-index: 0;
  }
  #nav {
    z-index: 5;
    display: flex;
    padding: calc(min(0.5rem, 2vw));
    padding-left: 1rem;
    background: rgba(24, 18, 55, 0.356);
    position: fixed;
    width: 100%;
    #opt {
      list-style-type: none;
      font-size: calc(min(20px, max(3vw, 14px)));
      display: flex;
      align-items: center;
      gap: calc(min(2.5vw, 1.5rem));
      li {
        &:nth-child(2) {
          color: aqua;
          box-shadow: 0 2px 0 aqua;
        }
        img {
          z-index: 1;
          min-height: 28px;
          height: 2.7vw;
          max-height: 3vw;
        }
        &:not(li:nth-child(2)):hover {
          color: rgb(255, 225, 0);
        }
      }
    }
    #contacts {
      list-style-type: none;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        svg {
          height: calc(min(22px, max(3vw, 17px)));
          fill: white;
          &:hover {
            fill: rgba(255, 255, 255, 0.356);
          }
        }
      }
    }
  }
  #content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 6vw;
    font-family: "Nova Mono", monospace;
    text-shadow: 5px 5px 5px black;
  }
}

#page-2 {
  height: 100%;
  width: 100vw;
}
#footer {
  z-index: 1;
  padding: 5px;
  width: 100vw;
  background: rgb(77, 77, 77);
  display: none;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      fill: rgb(255, 255, 255);
      height: calc(min(22px, max(3vw, 17px)));
    }
  }
}

@media (max-width: 700px) {
  #contacts li svg {
    display: none;
  }
  #footer {
    display: block;
  }
}


li {
  cursor: pointer !important;
}