@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

#page-1 {
  height: 100vh;
  width: 100vw;
  background: url("Images/background.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

#page-1::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: rgba(0, 0, 0, 0.349);
  z-index: 0;
}

#page-1 #nav {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: calc(min(0.5rem, 2vw));
  padding-left: 1rem;
  background: #2d2d384f;
  position: fixed;
  width: 100%;
}

#page-1 #nav #opt {
  list-style-type: none;
  font-size: calc(min(20px, max(3vw, 14px)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(min(2.5vw, 1.5rem));
}

#page-1 #nav #opt li:nth-child(2) {
  color: aqua;
  -webkit-box-shadow: 0 2px 0 aqua;
          box-shadow: 0 2px 0 aqua;
}

#page-1 #nav #opt li img {
  z-index: 1;
  min-height: 28px;
  height: 2.7vw;
  max-height: 3vw;
}

#page-1 #nav #opt li:not(li:nth-child(2)):hover {
  color: #ffe100;
}

#page-1 #nav #contacts {
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-1 #nav #contacts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-1 #nav #contacts li svg {
  height: calc(min(22px, max(3vw, 17px)));
  fill: white;
}

#page-1 #nav #contacts li svg:hover {
  fill: #ffe100;
}

#page-1 #content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
  font-size: 6vw;
  font-family: "Nova Mono", monospace;
  text-shadow: 5px 5px 5px black;
}

#page-2 {
  height: 100vh;
  width: 100vw;
}

#footer {
  z-index: 1;
  padding: 5px;
  width: 100vw;
  background: #4d4d4d;
  display: none;
}

#footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer ul svg {
  fill: white;
  height: calc(min(22px, max(3vw, 17px)));
}

@media (max-width: 700px) {
  #contacts li svg {
    display: none;
  }
  #footer {
    display: block;
  }
}

li {
  cursor: pointer !important;
}
/*# sourceMappingURL=style.css.map */