::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
  // scrollbar-color: rgb(0, 0, 0) rgba(138, 191, 234, 0);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#page-1 {
  height: 100vh;
  width: 100vw;
  // background: ;
  background: url("Images/background.jpg") center no-repeat;
  background-size: cover;
  color: white;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.24);
  }
  #nav {
    display: flex;
    padding: calc(min(0.5rem, 2vw));
    padding-left: 1rem;
    background: rgba(24, 18, 55, 0.356);
    position: fixed;
    width: 100%;
    #opt {
      list-style-type: none;
      display: flex;
      gap: calc(min(2.5vw, 1.5rem));
      font-size: calc(min(20px, max(3vw, 14px)));
      display: flex;
      align-items: center;
      li {
        img {
          z-index: 1;
          min-height: 28px;
          height: 2.7vw;
          max-height: 3vw;
        }
        &:hover {
          color: rgb(255, 225, 0);
        }
      }
    }
    #contacts {
      list-style-type: none;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      li {
        display: flex;
        align-items: center;

        svg {
          height: calc(min(22px, max(3vw, 17px)));
          fill: white;
          &:hover {
            fill: rgba(255, 255, 255, 0.356);
          }
        }
      }
    }
  }
}

li {
  cursor: pointer;
}
@media (max-width: 700px) {
  svg {
    display: none;
  }
}

#page-2 {
  height: 100vh;
  width: 100vw;
  background: green;
}
#page-3 {
  height: 100vh;
  width: 100vw;
  background: blue;
}
