@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


$page2-bg: rgb(14, 13, 26);


::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  cursor: pointer;
}

a, a:visited, a:active, a:focus{
  text-decoration: none;
  color: #fff;
}

#page-1 {
  height: 100vh;
  width: 100vw;
  background: url("Images/background.jpg") center no-repeat;
  background-size: cover;
  color: white;
  &::before {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: rgba(0, 0, 0, 0.349);
    z-index: 0;
  }
  #nav {
    z-index: 5;
    display: flex;
    padding: calc(min(0.5rem, 2vw));
    padding-left: 1rem;
    background: #2d2d384f;
    position: fixed;
    width: 100%;
    #opt {
      list-style-type: none;
      font-size: calc(min(20px, max(3.3vw, 14px)));
      font-family: "Bangers", cursive;
      letter-spacing: 2.5px;
      text-shadow: 2px 2px 5px rgb(255, 0, 0);
      display: flex;
      align-items: center;
      gap: calc(min(2.5vw, 1.5rem));
      li {
        &:nth-child(2) {
          box-shadow: 0 2px 0 white;
          text-shadow: 3px 3px 5px rgb(0, 0, 255);
        }
        img {
          z-index: 1;
          min-height: 28px;
          height: 2.7vw;
          max-height: 3vw;
        }
        &:not(li:nth-child(2)):hover {
          color: rgb(255, 225, 0);
        }
      }
    }
    #contacts {
      list-style-type: none;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        svg {
          height: calc(min(22px, max(3vw, 17px)));
          fill: white;
          filter: drop-shadow(2px 2px 5px rgb(255, 0, 0));
          &:hover {
            fill: rgb(255, 242, 0);
            filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
          }
        }
      }
    }
  }
  #slogan {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(255, 255, 0);
    position: relative;
    font-size: 10vw;
    font-family: "Caveat", cursive;
    text-shadow: 5px 5px 5px rgb(255, 0, 0);
  }
}

#page-2 {
  height: 100%;
  width: 100vw;
  padding: 70px 150px;
  line-height: clac(auto + 5px);
  display: flex;
  justify-content: center;
  background: $page2-bg;
  img {
    height: 45vw;
    transform: translateX(-50px);
    z-index: 0;
  }
  svg{
    width: 85vw;
    body{
      position: absolute;
      right: 0;
    }
  }
  #content {
    z-index: 1;
    height: auto;
    width: 85vw;
    padding: 40px;
    border-radius: 20px;
    font-family: 'Ubuntu Mono', monospace;
    background: rgba(56, 64, 80, 0.701);
    font-size: calc(min(17px, max(3vw, 17px)));
    line-height: 1.5;

    pre {
      color: rgb(232, 227, 227);
      font-family: 'Ubuntu Mono', monospace;
    }
  }
}
#footer {
  z-index: 1;
  padding: 7px 0;
  width: 100vw;
  background: $page2-bg;
  display: none;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      fill: rgb(255, 255, 255);
      height: calc(min(22px, max(3vw, 17px)));
    }
  }
}

#copyright {
  padding: 5px;
  text-align: center;
  background: $page2-bg;
  color: white;
  padding: 5px 0;
  font-size: calc(min(22px, max(3vw, 17px)));

}


@media (max-width: 700px) {
  #contacts li svg {
    display: none;
  }
  #footer {
    display: block;
  }
}
@media (max-width: 1000px){
  #page-2 {
  padding: 70px 0;
  img {
    display: none;
  }
}
}
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

