@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  cursor: pointer;
}

#page-1 {
  height: 100vh;
  width: 100vw;
  background: url("Images/bg-2.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

#page-1::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: rgba(0, 0, 0, 0.349);
  z-index: 0;
}

#page-1 #nav {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: calc(min(0.5rem, 2vw));
  padding-left: 1rem;
  background: #2d2d384f;
  position: fixed;
  width: 100%;
}

#page-1 #nav #opt {
  list-style-type: none;
  font-size: calc(min(20px, max(3.3vw, 14px)));
  font-family: "Bangers", cursive;
  letter-spacing: 2.5px;
  text-shadow: 2px 2px 5px red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(min(2.5vw, 1.5rem));
}

#page-1 #nav #opt li:nth-child(3) {
  -webkit-box-shadow: 0 2px 0 white;
          box-shadow: 0 2px 0 white;
  text-shadow: 3px 3px 5px blue;
}

#page-1 #nav #opt li img {
  z-index: 1;
  min-height: 28px;
  height: 2.7vw;
  max-height: 3vw;
}

#page-1 #nav #opt li:not(li:nth-child(3)):hover {
  color: #ffe100;
}

#page-1 #nav #contacts {
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-1 #nav #contacts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-1 #nav #contacts li svg {
  height: calc(min(22px, max(3vw, 17px)));
  fill: white;
  -webkit-filter: drop-shadow(2px 2px 5px red);
          filter: drop-shadow(2px 2px 5px red);
}

#page-1 #nav #contacts li svg:hover {
  fill: #fff200;
  -webkit-filter: drop-shadow(2px 2px 5px black);
          filter: drop-shadow(2px 2px 5px black);
}

#page-1 #slogan {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: yellow;
  position: relative;
  font-size: 7.5vw;
  font-family: "Caveat", cursive;
  text-shadow: 5px 5px 5px red;
}

#content {
  padding: 7px;
  background: #0e0d1a;
  color: rgba(255, 255, 255, 0.943);
}

#content pre {
  margin-left: 25px;
}

#footer {
  z-index: 1;
  padding: 7px 0;
  width: 100vw;
  background: #0e0d1a;
  display: none;
}

#footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer ul svg {
  fill: white;
  height: calc(min(22px, max(3vw, 17px)));
}

#copyright {
  padding: 5px;
  text-align: center;
  background: #0e0d1a;
  color: white;
  padding: 5px 0;
  font-size: calc(min(22px, max(3vw, 17px)));
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 18px;
  padding: 10px;
  padding-top: 20px;
}

pre:not(h3) {
  font-family: 'Ubuntu Mono', monospace;
}

h3 {
  font-size: calc(min(35px, max(3vw, 18px)));
  padding: 10px 0;
  color: #00f7ff;
  text-shadow: 3px 3px 5px #000000;
  margin: 10px;
  font-family: 'Merriweather', serif;
}

#banner {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 30px 0;
}

#banner img {
  height: calc(min(450px, max(30vw, 200px)));
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 7px black;
          box-shadow: 0px 3px 7px black;
}

#subP1, #myst {
  padding-left: 40px;
}

#parent {
  line-height: 2;
}

@media (max-width: 700px) {
  #contacts li svg {
    display: none;
  }
  #footer {
    display: block;
  }
}
/*# sourceMappingURL=upcomings.css.map */