@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

$page2-bg: rgb(14, 13, 26);
::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
a {
  text-decoration: none;
  color: inherit;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  cursor: pointer;
}

#page-1 {
  height: 100vh;
  width: 100vw;
  background: url("Images/bg-2.jpg") center no-repeat;
  background-size: cover;
  color: white;
  &::before {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: rgba(0, 0, 0, 0.349);
    z-index: 0;
  }
  #nav {
    z-index: 5;
    display: flex;
    padding: calc(min(0.5rem, 2vw));
    padding-left: 1rem;
    background: #2d2d384f;
    position: fixed;
    width: 100%;
    #opt {
      list-style-type: none;
      font-size: calc(min(20px, max(3.3vw, 14px)));
      font-family: "Bangers", cursive;
      letter-spacing: 2.5px;
      text-shadow: 2px 2px 5px rgb(255, 0, 0);
      display: flex;
      align-items: center;
      gap: calc(min(2.5vw, 1.5rem));
      li {
        &:nth-child(3) {
          box-shadow: 0 2px 0 white;
          text-shadow: 3px 3px 5px rgb(0, 0, 255);
        }
        img {
          z-index: 1;
          min-height: 28px;
          height: 2.7vw;
          max-height: 3vw;
        }
        &:not(li:nth-child(3)):hover {
          color: rgb(255, 225, 0);
        }
      }
    }
    #contacts {
      list-style-type: none;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        svg {
          height: calc(min(22px, max(3vw, 17px)));
          fill: white;
          filter: drop-shadow(2px 2px 5px rgb(255, 0, 0));
          &:hover {
            fill: rgb(255, 242, 0);
            filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
          }
        }
      }
    }
  }
  #slogan {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(255, 255, 0);
    position: relative;
    font-size: 7.5vw;
    font-family: "Caveat", cursive;
    text-shadow: 5px 5px 5px rgb(255, 0, 0);
  }
}
#content {
  padding: 10px;
  background: rgb(14, 13, 26);
  color: rgba(255, 255, 255, 0.943);
  pre {
    margin-left: 25px;
  }
}
#footer {
  z-index: 1;
  padding: 7px 0;
  width: 100vw;
  background: $page2-bg;
  display: none;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      fill: rgb(255, 255, 255);
      height: calc(min(22px, max(3vw, 17px)));
    }
  }
}

#copyright {
  padding: 5px;
  text-align: center;
  background: $page2-bg;
  color: white;
  padding: 5px 0;
  font-size: calc(min(22px, max(3vw, 17px)));
}


pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 18px;
  padding: 20px;
  &:not(h3){
    font-family: 'Ubuntu Mono', monospace;;
  }
}

h3 {
  font-size: calc(min(35px, max(3vw, 25px)));
  padding: 10px;
  color: rgb(255, 255, 0);
  // -webkit-text-stroke: 0.5px rgb(255, 0, 0);
  text-shadow: 5px 5px 10px rgb(253, 0, 0);
  margin: 10px;
}
#banner {
  display: grid;
  justify-items: center;
  padding: 30px 0;
  img {
    height: calc(min(450px, max(30vw, 200px)));
    border-radius: 10px;
    box-shadow: 0px 3px 7px black;
  }
}

#subP1, #myst {
  padding-left: 40px;
}

#parent {
  line-height: 2;
}

@media (max-width: 700px) {
  #contacts li svg {
    display: none;
  }
  #footer {
    display: block;
  }
}